@import url(variable-styling.css);

body{
	margin:0;
	display:flex;
	flex-direction:column;
}

.page1-wrapper{
	background-color: var(--body-bg-color);
	min-height: var(--page-height);
	display:flex;
	justify-content:space-evenly;
	align-items:center;
}

.page2-wrapper{
	min-height: var(--page-height);
	background-color:orange;
	display:flex;
	justify-content:space-evenly;
	align-items:center;
}

.page3-wrapper{
	min-height: var(--page-height);
	background-color:turquoise;
	display:flex;
	justify-content:space-evenly;
	align-items:center;
}


.page4-wrapper{
	min-height: var(--page-height);
	background-color:purple;
	display:flex;
	justify-content:space-evenly;
	align-items:center;
}

.page5-wrapper{
	min-height: var(--page-height);
	background-color:grey;
	display:flex;
	justify-content:space-evenly;
	align-items:center;
}

.page6-wrapper{
	min-height: var(--page-height);
	background-color:brown;
	display:flex;
	justify-content:space-evenly;
	align-items:center;
}

.hidden{
	display:none;
}

#bolche-form div{
	display:flex;
	flex-direction:column;
}

.bolcheP{
	margin:0;
}

.bolche-liste{
	list-style-type:none;
	margin:0;
	padding:0;
	display:flex;
	flex-wrap:wrap;
}

.bolcheLi{
	margin: 4px 4px;
	border: 1px solid black;
	padding:8px;
	box-sizing: border-box;
	background-color:white;
	width:150px;
}

.page6-wrapper h1{
	text-align:center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}